
<div>

    <!-- Footer -->
  <footer class="page-footer font-small pt-4" style="color: white;background-color: #11063a;">
  
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-center">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
  
          <!-- Content -->
          
          
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
  
          <ul class="list-unstyled" style="font-weight: bold;">
            <li>
              <img class="navimg" src="/images/navimg.png"  style="border-radius: 50%;"alt="">
          <h5>WeRecommend</h5>
            </li>
            
            
          </ul>
  
        </div>
        
        <div class="col-md-4 mb-md-0 mb-3">
  
        </div>
      </div>
      
  
    
  
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="/"> WeRecommend.com</a>
    </div>
    <!-- Copyright -->
  </div>
  </footer>
  <!-- Footer -->
  
  </div>
   