
<link rel="stylesheet" href="/styles/section1side.css" type="text/css">

<div class="section1_side">
    <div class="row" style="display: flex;">
        <div class="col">
           
            <h2 class="side_title" style="font-family: 'Libre Baskerville', serif; color: rgb(58, 41, 209);">
                <p>Read what you watch!!!!</p>
            </h2>
            <h5 class="side_title" style="font-family: 'Libre Baskerville', serif;">
                <p>We help people in recommending what they read.</p>
                <p>Just tell what you like to watch, and wait for best book recommendations<bold style="color: orangered;">..........</bold></p> 

            </h5>
            

        </div>
    </div>
        <div class="row" style="display: flex;">
            <div class="col text-center imageanimate1" >
                <img class="img1 col" style="width: fit-content; border-radius: 30%;" src="/images/reader.gif" alt="">
            </div>
        </div>
    
</div>