<link rel="stylesheet" href="/styles/section1.css" type="text/css">


<section class="banner-section">
    
    <div class="row" style="display: flex;">
        <div class="col text-center ">
            <%-include('section1side')  %>
           
        </div>

        <div class="col text-center" >
        <img class="img2 imageanimate2" height="80%" src="images/1.jpg" alt="">
        </div>
    </div >

    
    
</section>