
<link rel="stylesheet" href="/styles/section1side.css" type="text/css">

<div class="section1_side">
    <div class="row" style="display: flex;">
        <div class="col">
           
            <h2 class="side_title" style="font-family: 'Libre Baskerville', serif;">
                <p>Glued to Screen ?</p>
            </h2>
            <h5 class="side_title" style="font-family: 'Libre Baskerville', serif;">
                <p>??????????????</p>
                <p>Register today and <bold style="color: orangered;">..........</bold></p> 

            </h5>
            

        </div>
    </div>
        <div class="row" style="display: flex;">
            <div class="col text-center imageanimate1" >
                <img class="img1 col" style="width: fit-content;" src="/images/5c08082043d3e4188e7683294923056c.gif" alt="">
            </div>
        </div>
    
</div>