<!---page that appears after login-->
<!--template for intro page-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/home.css" type="text/css">
</head>

<body>
  
  <%- include ('partials/navbar') %>

<div class = "container" style="padding-top:10%">
    <div class="container py-3">
        <h1>Books</h1>
    </div>

    <div class="container">
      <div class="row row-cols-2 row-cols-sm-4 row-cols-md-6 g-6">
        <% for(var i = 0;i < 6;i++) {%>
            <div class="col">
                <div class="card shadow-sm">      
                  <div class="card-body">
                    <p class="card-text"><h3>title<h3></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        <% } %>
      </div>
    </div>

    <div class="container py-3">
        <h1>Movies</h1>
    </div>

     <div class="container">
        <div class="row row-cols-2 row-cols-sm-4 row-cols-md-6 g-6">
          <% for(var i = 0;i < 6;i++) {%>
              <div class="col">
                  <div class="card shadow-sm">      
                    <div class="card-body">
                      <p class="card-text"><h3>title<h3></p>
                      <div class="d-flex align-items-center">
                        <i class="fa-regular fa-star star1"></i>
                        <i class="fa-regular fa-star star2"></i>
                        <i class="fa-regular fa-star star3"></i>
                        <i class="fa-regular fa-star star4"></i>
                        <i class="fa-regular fa-star star5"></i>
                      </div>
                    </div>
                  </div>
                </div>
          <% } %>
        </div>
      </div>

  </div>
  <script>
    $(".star1").hover(
    function () {
      $(this).addClass("fas");
    },
    function () {
      $(this).removeClass("fas");
    }
  );
  $(".star2").hover(
    function () {
        $(".star1").addClass("fas");
      $(this).addClass("fas");
    },
    function () {
        $(".star1").removeClass("fas");
      $(this).removeClass("fas");
    }
  );
  $(".star3").hover(
    function () {
        $(".star1").addClass("fas");
      $(".star2").addClass("fas");
      $(this).addClass("fas");
    },
    function () {
        $(".star1").removeClass("fas");
      $(".star2").removeClass("fas");
      $(this).removeClass("fas");
    }
  );
  $(".star4").hover(
    function () {
        $(".star1").addClass("fas");
      $(".star2").addClass("fas");
      $(".star3").addClass("fas");
      $(this).addClass("fas");
    },
    function () {
        $(".star1").removeClass("fas");
      $(".star2").removeClass("fas");
      $(".star3").removeClass("fas");
      $(this).removeClass("fas");
    }
  );
  $(".star5").hover(
    function () {
      $(".star1").addClass("fas");
      $(".star2").addClass("fas");
      $(".star3").addClass("fas");
      $(".star4").addClass("fas");
      $(this).addClass("fas");
    },
    function () {
      $(".star1").removeClass("fas");
      $(".star2").removeClass("fas");
      $(".star3").removeClass("fas");
      $(".star4").removeClass("fas");
      $(this).removeClass("fas");
    }
  );
  
  </script>
<%- include("footer") %> 